<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <!-- 单选 -->
      <select name="fruit" v-model="fruit">
        <option value="🍎">🍎</option>
        <option value="🍌">🍌</option>
        <option value="🍋">🍋</option>
        <option value="🍇">🍇</option>
      </select>
      <h2>{{fruit}}</h2>
      <!-- 多选 -->
      <select name="fruits" v-model="fruits" multiple>
        <option value="🍎">🍎</option>
        <option value="🍌">🍌</option>
        <option value="🍋">🍋</option>
        <option value="🍇">🍇</option>
      </select>
      <h2>{{fruits}}</h2>
    </div>

    <!-- 导入 vue 文件 -->
    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          fruit: "🍌",
          fruits: [],
        },
      });
    </script>
  </body>
</html>
